input[type="search"]
{
	width:          100%;
}
input[type="search"] + .button 
{
	display:        none;
}
.aside-search
{
	display:        none;
}
.reporttext{
  font-size:      16px;
  line-height:    24px;
}

@media screen and (min-width: 900px) {
  .favorites, .introtext
  {
    width:        47%;
    float:        left;
  }
  .reporttext
  {
    width:        50%;
    margin-left:  25%;
  }
}

#start{
  bottom:0px;
  z-index:3;
}

input[type="image"] {
width: auto;
border: none;
}
#details-experiences{
  z-index:3;
}
#details-info{
  top:28px;
}
.disabled{
  
}
